extends layout-view 

block main-content 
  h2 Become a member 
  form.default-form(method="post") 
    div 
      label(for="member-secret") Member Secret: 
      input(type="text", name="member-secret", id="member-secret" value=memberSecret || "") 
      if errors 
        ul 
          each error in errors 
            li #{error.msg}
    div 
      button(type="submit") Submit