extends layout-view 

block header-content 
  nav 
    ul 
      li 
        a(href="/home") Home 
      if currentUser 
        li 
          a(href="/logout") Log out 
      li 
        a(href="/faq") FAQs 

block main-content 
  h2 Become a member 
  form.default-form(method="post") 
    div 
      label(for="member-secret") Member Secret: 
      input(type="text", name="member-secret", id="member-secret" value=memberSecret || "") 
      if errors 
        each error in errors 
          span #{error.msg}
    div 
      button(type="submit") Submit