doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    header 
      h1 Members Only 
      block header-content
    main 
      block main-content
    footer 
      p &copy; 2024 VMadhuranga
